@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.year_calendar{
  background-color: #1e1e1e;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  width: 1086px;
}

.month_calendar{
  color: rgba(255, 255, 255, 0.88);
}

.calendar_header {
  text-align: center;
}
  
.table_header {
  margin-bottom: 1.2em;
  span{
    display: inline-block;
    width: 3em;
    text-align: center;
  }
}

.table_content {
  display: grid;
  grid-template-columns: repeat(7, 3em);
  place-items: center;
  row-gap: 3px;

  .calendar_day{
    width: 3em;
    text-align: center;
    position: relative;
  }
}

  
  .calendar_day p {
    color: #a6a6a6;
    display: none;
  }
  
  .current p {
    display: block;
    color: rgba(255, 255, 255, 0.88);
  }

  .start{
    background-color: rgba(139, 52, 130, 1);
    color: #fff;
    border-radius: 10px 0 0 10px;
  }

  .end{
    background-color: rgba(139, 52, 130, 1);
    border-radius: 0 10px 10px 0;
    color: #fff;
  }

  .between{
    background-color: rgba(139, 52, 130, .2);
  }

  .start_only{
    border-radius: 50%;
    background-color: rgba(139, 52, 130, 1);
  }

.modal{
  background-color: #333333;
  border: 1px solid rgba(129, 160, 234, 1);
  border-radius: 2px;
  height: fit-content;
  text-align: end;
  padding: 1em;
  position: absolute;
  z-index: 1;
  bottom: 3.5em;
  left: 0;
}