.App{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.calendar {
  width: fit-content;
}
  
.calendar_header {
  text-align: center;
}
  
.table_header {
  margin-bottom: 1.2em;
  span{
    display: inline-block;
    width: 3em;
    text-align: center;
  }
}

.table_content {
  display: grid;
  grid-template-columns: repeat(7, 3em);
  place-items: center;
  row-gap: 3px;

  .calendar_day{
    width: 3em;
    text-align: center;
  }
}

  
  .calendar_day p {
    color: #a6a6a6;
    display: none;
  }
  
  .current p {
    color: #000000;
    display: block;
  }

  .start{
    background-color: rgb(247, 92, 118);
    border-radius: 10px 0 0 10px;
  }

  .end{
    background-color: rgb(247, 92, 118);
    border-radius: 0 10px 10px 0;
  }

  .between{
    background-color: rgb(255, 183, 195);
  }

  .start_only{
    border-radius: 50%;
    background-color: rgb(247, 92, 118);
  }

.modal{
  box-shadow: 1px 1px 4px black;
  height: fit-content;
  text-align: end;
  padding: 1em;
  position: absolute;
  background-color: white;
}

.close_modal{
  display: none;
}